*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;  
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 0px auto;
}

/* header */

header{
    padding: 10px 0px;
    background-color:#41258F;
    color: #000000;
}

nav{
    background-color:#808080;
    padding: 12px 0px;
}
nav ul li{
    display: inline;
    margin: 15px;
}
nav ul li a{
    color: #333333;
}
.no-margin{

    margin: 0px;
}

.banner{
    background: url(./big.png) no-repeat center;
    background-size: cover ;
    padding: 250px 0px;
}
.banner-wrapper{
    text-align: center;
}
.banner h1{
    font-size: 25px;
    color: white;
    margin-bottom: 15px;

}
.banner p{
    margin-bottom: 50px;
}
.btn {
    padding: 10px 50px;
    background-color: #FFC0CB;
    border-radius: 10px;
}

.three-box{
    padding: 30px 0px;
}

.box{
    width: 30%;
    float: left;
    background-color: #efefef;
    margin: 10px;
    padding: 20px;
}
.text-center{
    text-align: center  ;
}


.text-center{
    display: inline-block;
    margin-top: 50px;
}
.position{
    padding: 50px 0px;
}
.parent-box{
    width: 1000%;
    height: 300px;
    background-color: gray;
    position: relative;
}
.child-box{
    width: 100px;
    height: 100px;
    background-color: #41258F;
    position: fixed;
    top: 20px;
    left: center;
}
footer{
    background-color: #efefef;
    padding: 10px 0px;
    text-align: center;
}

.pc ul li:first-child{
    color: red;
}

.pc ul li:last-child{
    color: rgb(255, 0, 200);
}

.pc ul li:nth-child(3){
    color: rgb(0, 255, 13);
}


.pc ul li:nth-child(2){
    color: rgb(0, 119, 255);
}